.about-me {
	background-color: lightgray;
}

.learnt-areas {
	background-color: lightsteelblue;
}

.wishlist {
	background-color: lightgoldenrodyellow;
}

.goal {
	background-color: lightcyan;
}

.service-to-God {
	background-color: lightpink;
}